@model IEnumerable<University.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by title or programme : <input type="text" name="stringsearch" value="@ViewData["Filter"]" />           
            <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        <p>
            Find by semester:  <input type="int" name="intsearch" value="@ViewData["Filter"]" />
             <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        
    </div>
   
</form>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondTeacher)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)                                  
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)                                  
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a> |
                    <a asp-action="Enroll" asp-route-id="@item.CourseID">(Un)Enroll</a>
                </td>
            </tr>
        }
    </tbody>
</table>